* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;

}

header {
  padding: 10px;
  text-align: right;
  margin-right: 20%;
}

.header-left h2 {
  margin-top: 30px;
  display: inline-block;
  margin-left: 10%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-left a {
  color: rgb(38, 74, 112);
  text-decoration: none;
}

.container {
  max-width: 900px; /* Set a maximum width to avoid overly long lines */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  text-align: left;
}


h1 {
  color: #333;
  margin: 20px 0 10px;
  text-align: center;
  margin-bottom: 60px;
  align-items: center;

}
h2 {
  line-height: 2;
  color: #333;
  margin: 20px 0 10px;
}
.paragraph{

  text-align: center;
  font-size: 1.25rem;

}

p, ul {
  margin-bottom: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #555;
  text-align: justify;
  font-size: 1.25rem;

}

.responsive {
  max-width: 100%;
  height: auto;
  margin: 40px 0 50px;
  align-items: center;
}




/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.responsive1 {
  width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 8px; /* Adds rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  transition: transform 0.3s ease-in-out; /* Adds a smooth transition */

  width: 100%;
  height: auto;
  margin: 20px 0 50px;
  animation: moveForward 0.9s ease-out forwards; 

}

.responsive1:hover {
  transform: scale(1.05); /* Scales up the image on hover */
}

.ideation {
    background-color: #e3f8e7; /* Choose your desired background color */
    padding: 20px;
    margin: 10% 0 10%;
  }
  
/*slider2*/
.image-container {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center; /* Align items vertically */
}

.image-container img {
  width: 48%; /* Set width to ensure space for two images with a small gap between */
}

iframe{
  align-items: center;
}
.con{
  color: #333;
  margin-top: 20%;
  text-align: left;
}
.end{
  margin-bottom: 30%;
}

.logo-link {
  text-decoration: none; 
  color: rgb(38, 74, 112);
}

.logo-link:hover {
  cursor: pointer; 
  color: #5485b9; 
}
.h1{
  text-align: left;
}

.page{
  font-size: large;
  font-weight: bold;
  color: #620e0e;
}



.related-posts-container {
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.related-post img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.related-posts-title {
  color: #222;
  margin-bottom: 40px;
  font-size: 24px;
  position: relative;
}

.related-posts-title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100px;
  background: #333;
  left: 0;
  bottom: -10px;
}

.related-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.related-post {
  box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.2);
  transition: all 500ms ease;
}

.related-post:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.2);
}

.related-post .post-title {
  text-decoration: none;
  color: #222;
  font-size: 18px;
  padding: 16px;
  display: inline-block;
  line-height: 1.6;
  font-weight: bold;
}

@media (max-width: 640px) {
  .related-posts {
    grid-template-columns: 1fr;
  }

  .related-posts-container {
    max-width: 400px;
  }
}
